/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.section-title {
    position: relative;
    margin-bottom: 1em;
}

.section-title {
    /* TODO line */
}

ul.dotted-list {
    list-style-position: inside;
}

li.dotted-list-item {
    list-style-type: disc;
    margin: 5px 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}